<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Personal Ayurveda</span>
</mat-toolbar>
<!-- user info -->
<div>
  <div *ngIf="afAuth.authState | async; let user; else showLogin">
    <h6>Hello {{ user.displayName }}!</h6>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>
</div>
<div>
  <div fxFlexOffset.gt-sm="15%" fxFlex.gt-sm="70%">
    <app-question *ngFor='let quesData of questionList' [questionData]='quesData'></app-question>
    <router-outlet>

    </router-outlet>
  </div>

</div>

<!-- alerts -->
<!-- <alert type="success">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>
<alert type="info">
  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</alert>
<alert type="warning">
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</alert>
<alert type="danger">
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
</alert>
<input type="text" class="form-control" /> -->